.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

/* sheared style */
.text-primary
{
    color: #FD6E0A;
}
.dark-2
{
    color: #474747;
}
.btn-primary
{
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
    cursor: pointer;
}
.dark-3
{
    color: #757575;
}
.dark-1
{
    color: #181818;
}
.bg-color
{
    background-color: #FFF8F3;
}
.section-title
{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
.section-description
{
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    color:  #757575;
    margin-bottom: 30px;
    height: 120px;
}
.text-center
{
    text-align: center;
}


/* header */
.header
{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-position: top left , bottom right;
    background-repeat: no-repeat;
    background-color: #FFF8F3;
    margin: 0;
}


/* nav-bar */
nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav_title
{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li 
{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;

}

/* banner */
.banner
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px 0 200px;
}
.banner-description
{
    max-width: 580px;
    max-height: 350px;
}
.sub-title
{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
}
.banner-title
{
    font-weight: bold;
    font-size: 85px;
    margin-bottom: 20px;
}
.descp
{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}
.profile-pic
{
    width: 580px;
    height: 670px;
}
.banner-btn-1
{
    margin-right: 30px;
}
.banner-btn-2
{
    border: 1px solid  #FD6E0A;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: #FD6E0A;
}

/* main */
main
{
    max-width: 1140px;
    margin: 0 auto;
}
main section
{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* about */

.about
{
    border-radius: 10px;    
    padding: 130px 155px;
}

.all-about
{
    border: 1px solid black;
    text-align: center;
    background-color: white;
}

.about-items
{
    display: flex;
    justify-content: space-around;
    margin-top: 0;
}

/* what i do */
.skill-info
{
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.skill-container
{
    display: flex;
    gap: 24px;
}
.skill
{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-title
{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}
.skill-description
{
    line-height: 28px;
}


/* resume style section */
.resume-section-title
{
    margin-bottom: 110px;
    font-size: 35px;
    font-weight: bold;
}
.experience
{
    width: 511px;
    height: 175px;
}
.resume-container
{
    display: flex;
    gap: 30px;
    justify-content: center;
    /* margin-bottom: 0; */
}
.resume-collum-title
{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}
.experience-title
{
    color: #474747;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}
.experience-sub-title
{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}
.experience-description
{
    color: #757575;
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
}
.cv-download-btn
{
    margin-top: 50px;
}

/* footer style */
footer
{
    display: flex;
    padding: 130px 230px;
    gap: 100px;
}
.footer-colum
{
    width: 50%;
}
.footer-description
{
    font-size: 16px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 28px;
}
.iconnn
{
    margin-right: 24px;
}
footer input[type="text"] ,input[type="email"]
{
    display: block;
    height: 64px;
    width: 461px;
    background-color: white;
    padding: 0 30px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 16px;
}
footer textarea
{
    display: block;
    height: 180px;
    width: 461px;
    background-color: white;
    padding: 0 30px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    padding-top: 18px;
}
/* responsive */
.hide
{
    display: none;
}

@media screen and (max-width: 576px) {
    .skill-container, .resume-container,footer, .about-items , .banner , nav , nav >ul
    {
        flex-direction: column;
    }
    .experience-description , .experience-title , .experience-sub-title 
    {
        width: 70%;
    }
    nav>ul
    {
        gap: 20px;
    }
    .banner
    {
        margin: 20px;
        gap: 300px;
    }
    .header
    {
        background-image: none;
    }
    footer , .about
    {
        padding: 20px;
    }
    .btn-primary
    {
        margin-bottom: 20px;
    }
    .footer-colum
    {
        width: 100%;
    }
    footer input[type="text"] ,input[type="email"] , footer textarea
    {
        width: calc( 100% - 40px);
    }
    .section-description
    {
        height: 100%;
    }
    .all-about
    {
        background-color: #FFF8F3;
        border: none;
    }
    .profile-pic
    {
        width: 100%;
        height: 100%;
    }
}

